.communication-container {
    display: flex;
    font-family: Arial, sans-serif;
    color: #333;
}

.sidebar {
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.back-link {
    display: block;
    color: #0073e6;
    text-decoration: none;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.links {
    color: #666;
    text-decoration: none;
    font-size: 15px;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

.content h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 10px; /* Başlık ile form arasındaki boşluk */
}

.form-group {
    margin-bottom: 15px; /* Alanlar arasındaki boşluk */
    text-align: left; /* Sola hizalama */
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.submit-button {
    width: 52%;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #005bb5;
}

