.reservations-container {
    display: flex;
    font-family: Arial, sans-serif;
    color: #333;
}

.reservation-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-card h3 {
    margin: 0 0 10px;
    color: #0073e6;
  }

  .reservation-card.expired {
    opacity: 0.5; /* Soluk görünmesi için opaklık azaltma */
    background-color: #f0f0f0; /* Soluk gri arka plan rengi */
    color: #aaa; /* Soluk gri metin rengi */
  }
  
  

.sidebar {
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.back-link {
    display: block;
    color: #0073e6;
    text-decoration: none;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
    color: #666;
    font-size: 15px;
}

.links {
    display: block;
    color: #666;
    text-decoration: none;
    margin-bottom: 20px;
}


.content {
    flex-grow: 1;
    padding: 40px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}




