<div class="profile-container" *ngIf="user">
    <div class="sidebar">
      <a href="" class="back-link">Ana Sayfa</a>
      <ul class="menu">
        <li ><a class="links" href="/profile">Hesabım</a></li>
        <li><a class="links" href="/reservations">Rezarvasyonlarım</a></li>
        <li><a class="links" href="/communication">Yardım Ve Destek</a></li>
      </ul>
    </div>
  
    <div class="content">
      <h2>Hesabım</h2>
  
      <div class="form-group">
        <label for="name">Ad</label>
        <input type="text" id="name" [value]="user.name" disabled />
        
        <label for="age">Yaş</label>
        <input type="text" id="age" [value]="user.age" disabled />
        
        <label for="email">E-mail</label>
        <input type="text" id="email" [value]="user.email" disabled />
        
        <label for="phone">Telefon</label>
        <input type="text" id="phone" [value]="user.phone" disabled />
      </div>

    </div>
  </div>
  