/* Form Genel Stil */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Form Alanları */
  div {
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
  }
  
  select,
  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  select:focus,
  input:focus {
    border-color: #4CAF50;
    outline: none;
  }

  .reservation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-table th,
  .reservation-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .reservation-table th {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
  }
  
  .reservation-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .reservation-table tr.selected {
    background-color: #c8e6c9; /* Seçilen satır rengi */
  }
  
  input[type="radio"] {
    cursor: pointer;
  }
  
  
  /* Buton Stili */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  /* Tıklanabilir alanlar */
  input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
