<form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
  <h2>Resepsiyon Rezervasyon Yönet</h2>

  <!-- Otel Seçimi -->
  <div>
    <label for="hotel">Otel Seç:</label>
    <select id="hotel" formControlName="hotel" (change)="onHotelChange($event)">
      <option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.name }}</option>
    </select>
  </div>

  <!-- Rezervasyon Seçimi - Tablo Görünümü -->
  <div>
    <label>Rezervasyon Seç:</label>
    <table class="reservation-table">
      <thead>
        <tr>
          <th>Ad Soyad</th>
          <th>Oda Tipi</th>
          <th>Giriş Tarihi</th>
          <th>Çıkış Tarihi</th>
          <th>Toplam Fiyat</th>
          <th>Durum</th>
          <th>Seç</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations"
          [class.selected]="reservation.reservationId === selectedReservation?.reservationId"
          (click)="onReservationSelect(reservation)">
          <td>{{ reservation.name || 'Bilinmeyen' }}</td>
          <td>{{ reservation.RoomTypeName || 'Bilinmeyen' }}</td>
          <td>{{ reservation.check_in | date: 'yyyy-MM-dd' }}</td>
          <td>{{ reservation.check_out | date: 'yyyy-MM-dd' }}</td>
          <td>{{ reservation.total_price | currency:'TRY' }}</td>
          <td>{{ reservation.status }}</td>
          <td>
            <input type="radio" name="selectedReservation"
              [checked]="reservation.reservationId === selectedReservation?.reservationId" />
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <!-- Rezervasyon Durumu Seçimi -->
  <div>
    <label for="reservation_status">Rezervasyon Durumu:</label>
    <select id="reservation_status" formControlName="reservation_status" (change)="onStatusChange($event)">
      <option *ngFor="let status of reservationStatuses" [value]="status">{{ status }}</option>
    </select>
  </div>

  <!-- Gönder Butonu -->
  <button type="submit">Rezervasyonu Gönder</button>
</form>