<div class="body">
  <div>
    <header>
      <h1>LOGO</h1>
      <nav>
        <ul id="menu" class="menu">
          <li *ngIf="!isLoggedIn()"><a href="">Ana Sayfa</a></li>
          <li *ngIf="!isLoggedIn()"><a href="/login">Giriş Yap</a></li>
          <li *ngIf="!isLoggedIn()"><a href="/register">Kayıt Ol</a></li>
          <li *ngIf="authService.isLoggedIn()"><a (click)="logout()">Çıkış Yap</a></li>
          <li *ngIf="authService.isLoggedIn()"><a href="/profile">Profil</a></li>
        </ul>
        <div class="mobile-menu-icon" (click)="toggleMenu()">
          <span>&#9776;</span> <!-- Hamburger Menü Simgesi -->
        </div>
      </nav>
    </header>

    <section class="otel-ara">
      <div class="form-row">
        <input type="text" [(ngModel)]="filterCity" placeholder="Konum">
        <input type="number" [(ngModel)]="filterStars" min="1" max="5" placeholder="Yıldız Sayısı">
        <button (click)="filterHotels()">Filtrele</button>
      </div>
    </section>

    <section class="oteller">
      <div class="hotel-list">
        <div *ngFor="let hotel of filteredHotels" class="hotel-card" (click)="navigateToHotelDetail(hotel.id)">
          <img [src]="hotel.image_url" alt="{{ hotel.name }}" class="hotel-image" />
          <div class="hotel-details">
            <h3 class="hotel-name">{{ hotel.name }}</h3>
            <p class="hotel-address">{{ hotel.address }}</p>
            <div class="hotel-rating">
              <span *ngFor="let star of [].constructor(hotel.star_rating); let i = index" class="star">&#9733;</span>
              <span *ngFor="let star of [].constructor(5 - hotel.star_rating); let i = index" class="star empty-star">&#9734;</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
